<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.pos.mapper.BizMerchantMapper">

    <resultMap type="BizMerchant" id="BizMerchantResult">
        <result property="merchId"    column="merch_id"    />
        <result property="userId"    column="user_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="merchCode"    column="merch_code"    />
        <result property="merchName"    column="merch_name"    />
        <result property="merchAbbr"    column="merch_abbr"    />
        <result property="merchRegion"    column="merch_region"    />
        <result property="merchAddr"    column="merch_addr"    />
        <result property="merchBizScope"    column="merch_biz_scope"    />
        <result property="merchType"    column="merch_type"    />
        <result property="verifyStatus"    column="verify_status"    />
        <result property="verifyResult"    column="verify_result"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="secretKey"    column="secret_key"    />
        <result property="secretBalance"    column="secret_balance"    />
        <result property="var1"    column="var1"    />
        <result property="var2"    column="var2"    />
        <result property="var3"    column="var3"    />
        <result property="var4"    column="var4"    />
        <result property="var5"    column="var5"    />
    </resultMap>


    <select id="selectPagedPartnerList" resultType="MerchantDict" parameterType="MerchantDTO">
        select m.merch_id dictValue,m.user_id userId,m.merch_name dictLabel,h.merch_bank_mobile mobile,u.portrait portrait
        from biz_merchant m
        left join biz_micro_info h on  h.merch_id = m.merch_id
        left join sys_user u on m.user_id=u.user_id
        where m.parent_id=#{merchId}
        <if test="nickName!=null and nickName!=''">
            and merch_name like concat('%',#{nickName},'%')
        </if>
        order by m.create_time asc
        <if test="pageNo!=-1 and pageSize!=-1"><!-- 分页 -->
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="getMonthlyNewPartnerCount" parameterType="HomePageDTO" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM biz_merchant
        WHERE parent_id=#{merchId} AND create_time LIKE CONCAT(#{yearMonth},'%')
    </select>
    <!--新增商户  也就是激活的pos机器数量-->
    <select id="getMonthlyNewMerchCounts" parameterType="HomePageDTO" resultType="java.lang.Integer">


        SELECT COUNT(*) FROM biz_pos_machine WHERE merch_id=#{merchId}
        <if test="yearMonth!=null and yearMonth!=''">
            AND create_time LIKE CONCAT(#{yearMonth},'%')
        </if>
        AND pos_code IN (
            SELECT sn_code FROM biz_pos_machine_status_records WHERE Records_type='2'
        )
    </select>
    <!--通过用户id获得直接父伙伴和服务中心-->
    <select id="selectParentMerchByUserId" resultMap="BizMerchantResult">
        select * from biz_merchant
        where  merch_id = (select parent_id from biz_merchant where user_id=#{userId})
        or parent_id=0
    </select>

    <select id="selectHomePageDataDTO" parameterType="com.cykj.pos.domain.dto.HomePageDTO"
    resultType="com.cykj.pos.profit.dto.HomePageDataDTO">
        select
        (
        select IFNULL(sum(trans_amount),0) from biz_merch_transactions t where t.trans_date like CONCAT(#{yearMonth},'%')
        and t.error_msg='交易成功'
        and t.pos_code in
        (select p.pos_code from biz_pos_machine p
        where p.pos_activate_status=2 and FIND_IN_SET(p.merch_id,findMerchSubNode(#{merchId})))
        ) monthlyTransAmount,
        (SELECT COUNT(*) FROM biz_merchant
                WHERE parent_id=#{merchId} AND create_time LIKE CONCAT(#{yearMonth},'%')) monthlyNewPartnerCounts,
        (
            select count(*) from biz_pos_machine_status_records where Records_type='2'
            and active_time like CONCAT(#{yearMonth},'%')
            and sn_code in (select pos_code from biz_pos_machine where pos_activate_status=2 and merch_id=#{merchId})
        ) monthlyNewMerchantCounts,
        (
        select merch_name from biz_merchant where merch_id=#{merchId}
        ) nickName,
        (
        select u.portrait from sys_user u where user_id=#{userId}
        ) portrait
        from dual
    </select>

    <select id="selectTransAmountDataDTO" parameterType="com.cykj.pos.domain.dto.HomePageDTO"
        resultType="com.cykj.pos.profit.dto.TransAmountDataDTO">
        select
            <!-- 团队交易总额 monthlyTransAmount -->
            (
            select IFNULL(sum(trans_amount),0) from biz_merch_transactions t where t.trans_date like CONCAT(#{yearMonth},'%')
            and t.error_msg='交易成功'
            and t.pos_code in
            (select p.pos_code from biz_pos_machine p
            where p.pos_activate_status=2 and FIND_IN_SET(p.merch_id,findMerchSubNode(#{merchId})))
            )
            monthlyTransAmount,
            <!-- 新增合作伙伴 monthlyNewPartnerCounts -->
            (SELECT COUNT(*) FROM biz_merchant
                  WHERE parent_id=#{merchId} AND create_time LIKE CONCAT(#{yearMonth},'%')) monthlyNewPartnerCounts,

            <!-- 月新增商户数 monthlyNewMerchantCounts-->
              (
                  select count(*) from biz_pos_machine_status_records where Records_type='2'
                  and active_time like CONCAT(#{yearMonth},'%')
                  and sn_code in (select pos_code from biz_pos_machine where pos_activate_status=2 and merch_id=#{merchId})
              ) monthlyNewMerchantCounts,
              <!-- 商户交易额 merchantTransAmount -->
              (
                  select IFNULL(sum(trans_amount),0) from biz_merch_transactions t where t.trans_date like CONCAT(#{yearMonth},'%')
                  and t.error_msg='交易成功'
                  and t.pos_code in
                  (select p.pos_code from biz_pos_machine p
                  where p.pos_activate_status=2 and p.merch_id=#{merchId})
              ) merchantTransAmount,

              <!-- 累计伙伴 totalPartnerCounts  -->
              (
                  select count(*) from biz_merchant where parent_id=#{merchId}
              ) totalPartnerCounts,
              <!-- 累计商户 totalMerchantCounts-->
              (
              SELECT COUNT(*) FROM biz_pos_machine_status_records r
              WHERE r.records_type='2' AND r.sn_code IN
              (SELECT pos_code FROM biz_pos_machine WHERE pos_activate_status=2 and merch_id=#{merchId})
              ) totalMerchantCounts
          from dual
</select>
</mapper>
