<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.pos.mapper.BizMerchBillMapper">
    
    <resultMap type="BizMerchBill" id="BizMerchBillResult">
        <result property="billId"    column="bill_id"    />
        <result property="merchId"    column="merch_id"    />
        <result property="merchName"    column="merch_name"    />
        <result property="posCode"    column="pos_code"    />
        <result property="posType"    column="pos_type"    />
        <result property="billType"    column="bill_type"    />
        <result property="amount"    column="amount"    />
        <result property="policyId"    column="policy_id"    />
        <result property="billDate"    column="bill_date"    />
        <result property="taxation"    column="taxation"    />
        <result property="var1"    column="var1"    />
        <result property="var2"    column="var2"    />
        <result property="var3"    column="var3"    />
        <result property="var4"    column="var4"    />
        <result property="var5"    column="var5"    />
    </resultMap>
    <select id="getPageBillListByMerchId" resultType="BillQueryDTO" parameterType="BillQueryDTO">
        select bill_id billId,merch_id merchId,amount,date_format(bill_date,'%Y-%m-%d %H:%i:%s') billDate,
        d.dict_value billTypeValue,d.dict_label billTypeLabel
        from biz_merch_bill bill,sys_dict_data d
        where bill.bill_type=d.dict_value and d.dict_type='merchant_bill_type' and merch_id=#{merchId}
        <if test="yearMonth != null and yearMonth != ''"><!-- 开始账单日期检索 -->
            and bill_date like concat(#{yearMonth},'%')
        </if>
        <if test="billTypeValue != null and billTypeValue != ''"><!-- 开始账单交易类型检索 -->
            and d.dict_value=#{billTypeValue}
        </if>
        order by bill.bill_date desc
        <if test="pageNo != -1 and pageSize != -1"><!-- 分页 -->
            limit #{start},#{pageSize}
        </if>
    </select>

</mapper>