<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.pos.mapper.BizPosMachineStatusRecordsMapper">
    
    <resultMap type="BizPosMachineStatusRecords" id="BizPosMachineStatusRecordsResult">
        <result property="id"    column="id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="terminalId"    column="terminal_id"    />
        <result property="phoneNo"    column="phone_no"    />
        <result property="time"    column="time"    />
        <result property="idCardNo"    column="id_card_no"    />
        <result property="isActivated"    column="is_activated"    />
        <result property="receiptType"    column="receipt_type"    />
        <result property="deviceType"    column="device_type"    />
        <result property="name"    column="name"    />
        <result property="snCode"    column="sn_code"    />
        <result property="activeTime"    column="active_time"    />
        <result property="idTxn"    column="id_txn"    />
        <result property="directlyOrgId"    column="directly_org_id"    />
        <result property="secondOrgId"    column="second_org_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="receiptDate"    column="receipt_date"    />
        <result property="status"    column="status"    />
        <result property="recordsType"    column="records_type"    />
        <result property="policyId"    column="policy_id"    />
    </resultMap>


</mapper>