<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.pos.mapper.BizMessageRecordsMapper">
    
    <resultMap type="BizMessageRecords" id="BizMessageRecordsResult">
        <result property="msgId"    column="msg_id"    />
        <result property="msgUserId"    column="msg_user_id"    />
        <result property="msgContent"    column="msg_content"    />
        <result property="msgStatus"    column="msg_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="msgType"    column="msg_type"    />
        <result property="readStatus"    column="read_status"    />
        <result property="adviceType"    column="advice_type"    />
    </resultMap>

    <sql id="selectBizMessageRecords">
        select msg_id,msg_user_id,msg_content,msg_status,DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') create_time
        ,msg_type,read_status,advice_type
        from biz_message_records
    </sql>

    <select id="selectMessageListByUserIdAndType" parameterType="com.cykj.pos.profit.dto.MessageDTO"
            resultType="com.cykj.pos.profit.dto.MessageDTO">
        <include refid="selectBizMessageRecords"/>
        <where>
            <if test="userId != null  and userId != ''"> and msg_user_id = #{userId}</if>
            <if test="msgType != null  and msgType != ''"> and msg_type = #{msgType}</if>
        </where>
        order by create_time desc
        <if test="start!=-1">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="selectMessageByMgsId" parameterType="com.cykj.pos.profit.dto.MessageDTO"
            resultType="com.cykj.pos.profit.dto.MessageDTO">
        <include refid="selectBizMessageRecords"/>
        <where>
            <if test="msgId != null  and msgId != ''"> and msg_id = #{msgId}</if>
        </where>
        order by create_time desc
    </select>


</mapper>